#main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}


/* 头部的一些样式 */

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(218, 218, 220)
}

header i.slideLeft,
header i.questionInfo {
    display: block;
    position: absolute;
    top: 0;
    padding: 0 10px;
    line-height: 43px;
    font-size: 15px;
}

header i.slideLeft {
    left: 0;
}

header i.questionInfo {
    right: 0;
}

header h2 {
    line-height: 43px;
    text-align: center;
    font-size: 17px;
}

h2 {
    margin: 0;
}


/* 中间内容的样式 */

main {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.list-item {
    min-height: 40px;
    line-height: 40px;
}

.child-wrapper {
    padding-left: 15px;
    background-color: #fff;
}

.content-inner {
    height: 100%;
    padding-left: 5px;
    box-sizing: border-box;
}

.child-list-item {
    height: 40px;
    padding-left: 8px;
    line-height: 40px;
}


/*  侧滑的样式 */

.slideWrapper {
    position: fixed;
    width: 60%;
    top: 0;
    bottom: 0;
    transform: translate3d(-100%, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}

.background-color-fff {
    background-color: #fff;
}

.um-nav-item {
    color: #777
}