<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/font-icons.css">
    <link rel="stylesheet" href="css/iuapmobile.um.css">

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/common.css">
    <script src="js/summer.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/components/index.js"></script>
    <script src="js/router/index.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id="app" @touchstart="slideStart" @touchmove="slideMove" @touchend="slideEnd">
        <div id="main" ref="app">
            <header>
                <i class="slideLeft iconfont icon-zhedie-copy" @click.stop='openSlideWrapper'></i>
                <h2 class="title">首页</h2>
                <i class="questionInfo iconfont icon-shuoming"></i>
            </header>
            <main ref="main">
                <ul>
                    <li class="list-item" v-for='item in components' @click.stop="listItemClick(item,$event)" :class="{'active-background': item.isChangeBackground&&!item.isBorderShow}">
                        <div class="content-inner margin-left-15" v-bind:class="{'border-1px':item.isBorderShow}">
                            <span class="text">{{item.title}}</span>
                            <i class="iconfont icon-jiantouxia icon-common" v-if='isHaveChildren(item)' :class="{'active-arrow': !item.isBorderShow}"></i>
                            <i class="iconfont icon-jiantouyou icon-common" v-else></i>
                        </div>
                        <transition name='collapse-ani'>
                            <ul class="child-wrapper" v-if='item.isChangeBackground'>
                                <li v-show='!item.isBorderShow' v-for="subItem in item.children" class="child-list-item" v-bind='subItem.path' @click.stop="childItemClick">
                                    <div class="content-inner border-1px">
                                        <span class="text">{{subItem.text}}</span>
                                        <i class="iconfont icon-jiantouyou icon-common"></i>
                                    </div>
                                </li>
                            </ul>
                        </transition>
                    </li>
                </ul>
            </main>
            <transition name="router-slide">
                <router-view></router-view>
            </transition>

        </div>


        <div class="slideWrapper" ref="slideWrapper">

        </div>
    </div>
</body>

</html>